* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: #d0eeee;

}

.inhalt {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
    margin-left: 80px;
    margin-top: 30px;
}

.inhalt h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif
    ;
}

.inhalt p {
    font-size: 23px;
    padding: auto;
}

.inhalt p a {
    text-decoration: none;
}
.inhalt a {
    text-decoration: none;
    text-align: center;
}

div.inhalt li {
    margin-left: 41%;
    font-size: 23px;
    text-align: left;
}

div.schwarz {
    background-color: black;
    color: white;
}

/*.links p {
    font-size: 32px;
}*/



    * {
      margin: 0;
      padding: 0px;
      box-sizing: border-box;
    }

    body {
      font-family: system-ui;
    }

    .nav {
      margin-top: -30px;
      position: fixed;
      height: 100vh;
      background: #bbf7f7bb;
      width: 60px;
      transition: width 0.3s ease;
      overflow: hidden;
    }

    .nav:hover {
      width: 200px;
      margin-top: -30px;
    }

    .nav-item {
        margin-top: 0px;
      display: flex;
      align-items: center;
      padding: 15px;
      color: rgb(0, 0, 0);
      cursor: pointer;
      text-decoration: none;
    }

    .nav-item:hover {
        margin-top: 0px;
      text-decoration: underline;
      color: #a92727;
    }

    .nav-item img {

      width: 24px;
      height: 24px;
      margin-right: 15px;
    }

    .nav-item span {
      white-space: nowrap;
      color: rgb(0, 0, 0);
      opacity: 0;
      transition: opacity 0.2s ease;
    }
    .nav-item:visited {
      color: #9b2323 !important;
    }
    .nav:hover .nav-item span {
      opacity: 1;
    }
    .specialbilder {
      width: 50%;
      height: auto;
    }
    .specialbilderheight {
      height: 20%;
      width: 50%;
    }
.mdl-layout-title {
  color: black;
}
.material-icons {
  color: black;
}