html {
    background-color: rgb(197, 236, 236);
}

.inhalt {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
}

.inhalt h1 {
    font-size: 40px;
}

.inhalt p {
    font-size: 23px;
    padding: auto;
}

.inhalt p a {
    text-decoration: none;
}
.inhalt a {
    text-decoration: none;
}

div.inhalt li {
    margin-left: 41%;
    font-size: 23px;
    text-align: left;
}

div.schwarz {
    background-color: black;
    color: white;
}

/*.links p {
    font-size: 32px;
}*/

